#nav{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
  color: hsla(0,0%,100%,.6);
  background: transparent;
  transition: all .2s ease;
  z-index: 5;
}
#nav .logo{
  padding: 0 65px 0 20px;
}
#nav .logo a{
  display: block;
  font-size: 0;
}
#nav .logo a.logo-black{
  display: none;
}
#nav .logo a img{
  width: 85px;
}
#nav .function{
  justify-content: center;
  align-items: center;
  display: none;
}
#nav .function>li{
  padding: 0 30px;
  font-size: 15px;
}
#nav .log-type{
  padding-right: 3px;
  font-size: 0;
}
#nav .log-type>li{
  display: inline-block;
  width: 70px;
  height: 32px;
  line-height: 32px;
  font-size: 13px;
  text-align: center;
  border-radius: 3px;
  transition: all .2s ease;
}
#nav .log-type>li.login{
  margin-right: 10px;
  color: #cacad3;
  background: hsla(0,0%,100%,.1);
}
#nav .log-type>li.sign-up{
  background-color: #f5bc21;
  background-image: linear-gradient(-90deg,rgba(255,214,102,.5),rgba(231,172,15,.5));
  color: #fff;
}
#nav .log-type a{
  display: block;
  line-height: 32px;
}

#nav .log-type>li:hover{
  background: transparent;
}
#nav .log-type>li:hover a{
  color: #fff;
}

/*scroll js*/
#nav.scroll{
  height: 50px;
  border: 1px solid transparent;
  background: hsla(0,0%,100%,.97);
}
#nav.scroll .logo .logo-white{
  display: none;
}
#nav.scroll .logo .logo-black{
  display: block;
}
#nav.scroll .function>li{
  color: rgb(43,52,65);
}
#nav.scroll .log-type>li.login{
  background: transparent;
}

@media (min-width: 992px){
  #nav .function{
    display: flex;
  }
}
@media (max-width: 576px){
  #nav .logo{
    padding: 0 0 0 20px;
  }
}


#first-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 40px;
  background: linear-gradient(-186deg,#28273e 2%,#51566f 46%,#51566f 47%,#808ca1);
}
#first-block div{
  flex:1;
}
#first-block .slogan{
  height: 80px;
  background: url('../assets/img/slogen.png') no-repeat center;
  background-size: 84%;
}
#first-block .input-email{
  margin-top: 36px;
  height: 40px;
  text-align: center;
}
#first-block .input-email input.email{
  display: inline-block;
  padding: 1px 0 1px 10px;
  width: calc(90% - 90px);
  height: 100%;
  border: none;
  outline: none;
  font-size: 13px;
  /* vertical-align: middle; */
  border-radius: 3px;
  background: hsla(0,0%,100%,.1);
  transition: all .2s ease;
}
#first-block .input-email input.email:focus{
  border: none;
  outline: none;
  background: #fff;
  box-shadow: none;
}
#first-block .input-email a{
  display: inline-block;
  margin-left: 10px;
  width: 80px;
  height: 100%;
  line-height: 40px;
  font-size: 13px;
  color: #fff;
  border-radius: 3px;
  background-image: linear-gradient(90deg,#eeb51a 0,#f9ca48 51%,#eeb51a);
  background-size: 200% auto;
  transition: all .2s ease;
}
#first-block .input-email a:hover{
  background-position-x: 100%;
}
input.email::-webkit-input-placeholder{
  font-size: 13px;
  color: hsla(0,0%,100%,.6);
}

@media (min-width: 992px){
  #first-block{
    padding-top: 110px;
    margin-bottom: 130px;
    height: 640px;
  }
}

#first-block .shift-img{
  position: static;
  padding-top: 30px;
}
#first-block .shift-img .left img{
  width: 100%;
}
@media (min-width: 992px){
  #first-block .shift-img .left img{
    display: none;
  }
  #first-block .shift-img{
    position: absolute;
    top: 365px;
    max-width: 952px;
    height: 380px;
    cursor: pointer;
  }
  #first-block .shift-img .left,
  #first-block .shift-img .right{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/Group-79.png');
    background-repeat: no-repeat;
    background-size: 952px;
  }
  #first-block .shift-img .left{
    background-position: top right;
    right: 0;
  }
  #first-block .shift-img .right{
    left: 0;
    margin-top:17px;
    background-image: url('../assets/img/Group-80.png');
  }
  #first-block .handle {
    position: absolute;
    left: 50%;
    top: -10px;
    width: 2px;
    height: 100%;
    display: flex;
    background: #fff;
    cursor: -webkit-grab;
    cursor: grab;
    z-index: 3;
  }
  #first-block .handle::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 8px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    line-height: 100%;
  }
  #first-block .handle .tracker {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: rgba(255,0,0,0.5); */
    opacity: 1;
    display: none;
    z-index: 1000;
  }
}

#third-block{
  padding-top: 30px;
}
#third-block .card-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#third-block .card-group .card{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  padding: 2%;
  margin: 30px 0;
}
#third-block .card-group .card img{
  height: 168px;
  max-width: 70%;
}
#third-block .card-group h3{
  padding-bottom: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #191829
}
#third-block .card-group p{
  font-size: 15px;
  text-align: left;
  color: #a9b0bd;
}
@media (min-width: 992px){
  #third-block .card-group{
    flex-direction: row;
    margin-top: 70px;
    height: 390px;
  }
  #third-block .card-group .card{
    flex: 1;
    display: flex;
    padding: 2%;
    height: 340px;
    border: none;
    background-color: #fbfbfe;
    transition: all .2s ease;
  }
  #third-block .card-group .card:first-child{
    border-radius: 10px 0 0 10px;
  }
  #third-block .card-group .card:last-child{
    border-radius: 0 10px 10px 0;
  }
  #third-block .card-group .card:hover{
    position: relative;
    height: 390px;
    background-color: #fff;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
    z-index: 3
  }
  #third-block .card-group h3{
    font-size: 24px;
  }
  #third-block .card-group p{
    display: none;
  }
  #third-block .card-group .card:hover p{
    display: block;
  }  
}

#fourth-block,
#fifth-block{
  padding-top: 65px;
  padding-bottom: 80px; 
}
#fourth-block .title p,
#fifth-block .title p{
  margin-top: 15px;
  padding: 0 8%;
}
#fourth-block .img,
#fifth-block .img{
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}
#fourth-block .img img,
#fifth-block .img img{
  display: inline-flex;
  width: 48%;
  height: 100%;
  box-shadow: 0 4px 23px rgba(0,0,0,.1);
}
#fifth-block{
  background-image: linear-gradient(54deg,#fdfdfe,#fdfdfd 7%,#fcfcfd 20%,#fcfcfd 21%,#fbfbfc 28%,#fbfbfc 29%,#f9f9fb 52%,#f9f9fb 0,#f9f9fb 0,#f9f9fb 0,#f9f9fa 53%,#f9f9fa 56%,#f5f5f7);
}

@media (min-width: 992px){
  #fourth-block .title p,
  #fifth-block .title p{
    padding: 0 30%;
  }
  #fourth-block,
  #fifth-block{
    padding-top: 105px;
    padding-bottom: 130px; 
  }
}

#sixth-block,
#seventh-block{
  padding: 60px 0;
  flex-direction: column;
  align-items: center;
}
#sixth-block .wrap,
#seventh-block .wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sixth-block .img,
#seventh-block .img{
  margin: 20px 0;
}
#sixth-block .img img,
#seventh-block .img img{
  /* width: 36%; */
  width: 100%;
  height: 100%;
}
#sixth-block .title h2,
#seventh-block .title h2{
  margin-top: 20px;
}
#sixth-block .title p,
#seventh-block .title p{
  margin-top: 32px;
  margin-bottom: 20px;
}
#seventh-block{
  background-image: linear-gradient(54deg,#fdfdfe,#fdfdfd 7%,#fcfcfd 20%,#fcfcfd 21%,#fbfbfc 28%,#fbfbfc 29%,#f9f9fb 52%,#f9f9fb 0,#f9f9fb 0,#f9f9fb 0,#f9f9fa 53%,#f9f9fa 56%,#f5f5f7);
}
@media (min-width: 992px){
  #sixth-block,
  #seventh-block{
    flex-direction: row;
    justify-content: center;
  }
  #sixth-block .wrap,
  #seventh-block .wrap{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #sixth-block .title h2,
  #seventh-block .title h2{
    margin-top: 0;
    text-align: left!important;
  }
  #sixth-block .img,
  #seventh-block .img{
    margin: 0;
    padding: 0 5px;
  }
  #sixth-block .title p,
  #seventh-block .title p{
    width: 75%;
  }
}

#eighth-block{
  padding-top: 50px;
  padding-bottom: 70px;
}
#eighth-block .img{
  margin: 0;
  margin-top: 30px;
  font-size: 0;
}
#eighth-block .img li{
  padding: 0;
  position: relative;
  /* height: 160px; */
}
#eighth-block .img li img{
  height: 100%;
  width: 100%;
}
#eighth-block .img p{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  background: rgba(0,0,0,.4);
}
@media (min-width: 992px){
  #eighth-block .img li{
    /* height: 160px; */
    flex: auto;
    width: 20%!important;
  }
  #eighth-block{
    padding-top: 95px;
    padding-bottom: 173px;
  }
  #eighth-block .img{
    margin-top: 80px;
  }
}

#ninth-block .title p{
  margin-top: 15px;
  text-align: center;
}
#ninth-block .img{
  margin: 40px auto 60px;
}
#ninth-block .img img{
  width: 90%;
  /* height: 100%; */
}
@media (min-width: 992px){
  #ninth-block .img{
    margin: 40px auto 163px;
  }  
}



#tenth-block .title{
  text-align: center;
}
#tenth-block .title h2{
  margin-bottom: 10px;
}
#tenth-block .title p{
  margin-bottom: 55px!important;
}
#tenth-block .clients{
  justify-content: center;
}
#tenth-block .clients li{
  margin-bottom: 55px;
  width: 200px;
}
#tenth-block .clients li a {
  display: block;
  height: 44px;
  background-repeat: no-repeat;
  background-size: contain;  
  background-position: center;
}

#tenth-block .clients li a.jd{
  background-image: url('../assets/img/Group-81.jpg')
}
#tenth-block .clients li a.sf{
  background-image: url('../assets/img/Group-82.jpg')
}
#tenth-block .clients li a.ry{
  background-image: url('../assets/img/Group-83.jpg')
}
#tenth-block .clients li a.dv{
  background-image: url('../assets/img/Group-84.jpg')
}
#tenth-block .clients li a.sj{
  background-image: url('../assets/img/Group-85.jpg')
}
#tenth-block .clients li a.en{
  background-image: url('../assets/img/Group-86.jpg');
}
#tenth-block .clients li a.qy{
  background-image: url('../assets/img/Group-87.jpg')
}
#tenth-block .clients li a.yb{
  background-image: url('../assets/img/Group-44.jpg')
}
#tenth-block .clients li a.en{
  height: 60px;
  margin-top: -16px;
}



#eleventh-block{
  padding: 67px 0 77px 0;
  background-image: linear-gradient(33deg,#656c78,#393c4d);
}
#eleventh-block .wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#eleventh-block .slogan{
  /* display: inline-flex; */
  width: 100%;
  /* height: 50px; */
}
#eleventh-block .btn{
  display: block;
  margin-top: 30px;
  padding: 17px 40px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border: 0;
  background-image: linear-gradient(90deg,#eeb51a 0,#f9ca48 51%,#eeb51a);
  background-size: 200% auto;
  border-radius: 3px;
  transition: all .2s ease;
}
#eleventh-block .btn:hover{
  background-position-x: 100%;
}



#twelfth-block{
  padding: 35px 0;
  background-image: linear-gradient(33deg,#4c4e5e,#2b2d3e); 
}
#twelfth-block ul{
  margin-bottom: 0;
}
#twelfth-block ul li{
  line-height: 40px;
  font-size: 13px;
  color: #b0b0b9;
}
#twelfth-block ul .title{
  color: #545860; 
}
#twelfth-block ul .iconfont{
  display: inline-block;
  width: 20px;
  margin-right: 6px;
}
#twelfth-block ul .icon-QQ{
  font-size: 18px;
}
#twelfth-block ul .icon-mail1{
  font-size: 12px;
}
#twelfth-block ul .icon-telephone{
  font-size: 18px;
}
#twelfth-block ul .icon-location{
  font-size: 17px;
}
@media (max-width: 576px){
  #twelfth-block{
    text-align: center;
  }
}

#thirteenth-block{
  height: 50px;
  line-height: 50px;
  color: #545860;
  font-size: 13px;
  text-align: center;
  font-weight: 400;
  background-image: linear-gradient(-37deg,#2f3141,#23242e);
}